body {
  background: rgb(19, 18, 18);
  color:whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
  border-radius: 50px;
}
#container {
  width:80%;
  margin: auto;
  background: slategray;
  display:flex;
  flex-flow: column wrap;
}
#list-container {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.category {
  background: tomato;
  border:1px solid darkred;
  flex-basis: 25%;
  min-width: 200px;
  min-height: 400px;
  margin: 10px 0;
  border-radius: 8px;
  padding: 0 16px;
}