* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(19, 18, 18);
  color:whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
}
input,
button {
  font-size: 1em;
}
#welcome-page {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

#container {
  width:90%;
  margin: auto;
  background: slategray;
  display:flex;
  flex-flow: column wrap;
}
#list-container {
  display:flex;
  flex-flow: row-reverse wrap;
  justify-content: space-evenly;
}
.category {
  background: tomato;
  border:1px solid darkred;
  display:flex;
  flex-flow: column wrap;
  min-width: 300px;
  min-height: 400px;
}
.card-container {
  height: 260px;
  background:black;
}
.card {
  display:flex;
  justify-content: space-between;
}
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
footer {
  display:flex;
  justify-content: flex-end;
}